# URL a veřejný klíč pro Supabase
VITE_SUPABASE_URL="https://lxqphaarqqajujngonbf.supabase.co"
VITE_SUPABASE_ANON_KEY="tvuj_anon_klic"

# Následující klíče budou potřeba na Vercelu (pro serverless funkce /api/...)
RESEND_API_KEY="re_tvuj_resend_klic"
SENDER_EMAIL="prihlasky@tvojedomena.cz"
CONTACT_EMAIL="autoskolakubon@gmail.com"
